.tag{
    background-color: black;
    width: 100%;
    height: 400px;
}
.center{
    width: 3%;
    height: 50px;
    background-color: black;
    margin: 0 auto;
    font-size: x-large;
}
.object{
    background-color:black;
    width:60% ;
    height:200px;
    margin: 0 auto;
    border-top: 100px;
}
.tree{
    background-color: black;
    width: 100%;
    height: 700px;
}
.leaves{
    background-color: black;
    width: 80%;
    height: 700px;
    margin: 0 auto;
}
.trunk{
    background-color: white;
    width: 45%;
    height: 700px;
    float: left;
}
.root{
    background-color: rgb(225,199, 200);
    width: 45%;
    height: 700px;
    float: right;
    border-left: 40px;
}
.contain{
    background-color:black ;
    width:100%;
    height:300px ;
}
.animal{
        background-color:black ;
        width:80%;
        height:300px ;
        margin: 0 auto;
}
.sun{
    background-color:black ;
    width:45%;
    height:300px ;
    float: left;
}
.moon{
    background-color:black ;
    width:45%;
    height:300px ;
    float: right;
}
.operator{
    background-color:black ;
    width:100%;
    height:700px ;
}
.boolean{
    background-color:black ;
    width:80%;
    height:50px ;
    margin: 0 auto;
}
.state{
    background-color:black ;
    width:80%;
    height:300px ;
    margin: 0 auto;
}
.intial{
    background-color:black ;
    width:30%;
    height:300px ;
    float: left;
    margin-right:10px ;
}
.present{
    background-color:black;
    width:30%;
    height:300px ;
    float: left;
    margin-right:10px ;
}
.final{
    background-color:black ;
    width:30%;
    height:300px ;
    float: left;
    margin-left: 92px;
}
.word{
    background-color: black;
    width: 100%;
    height: 100px;
}
.letter{
    background-color: black;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.conso{
    background-color: black;
    width: 30%;
    height: 100px;
    float: left;
}
.vow{
    background-color: black;
    width: 35%;
    height: 100px;
    float: left;
}
.reg{
    background-color: black;
    width: 35%;
    height: 100px;
    float: left;
}
.cen{
    background-color:black ;
    width: 100%;
    height: 200px;
}
.tr{
    background-color:black ;
    width: 30%;
    height: 200px;
    float: left;
}
.re{
    background-color:black ;
    width: 35%;
    height: 200px;
    float: left;
}
.sq{
    background-color:black ;
    width: 35%;
    height: 200px;
    float: left;
}
.grd{
    background-color:black ;
    width: 100%;
    height: 250px;
}
.dis{
    background-color:black ;
    width: 80%;
    height: 250px;
    margin: 0 auto;
}
.vis{
    background-color:black;
    width: 50%;
    height: 250px;
    float: left;
}
.slr{
    background-color:black;
    width: 50%;
    height: 250px;
    float: left;
}
h1{
    text-align: center;
    font-size: xxx-large;
    color: white;
}
p{
    font-size: x-large;
    color: white;
    text-align: center;
    line-height: 1.5;
}
.trunk{
    background-image: url(./images/image\ demo.jpg);
    background-size: cover;
}
.pond{
    color: black;
    text-align: left;
    font-size: x-large;
    padding: 0px 50px 0px 50px;
}
.water{
    color: black;
    text-align: left;
    padding:0px 50px 0px 50px ;
}
.river{
    color: black;
    text-align: left;
    font-size: x-large;
    padding:0px 50px 0px 50px ;
}
.sea{
    color: black;
    text-align: left;
    padding:0px 50px 0px 50px ;
}
.pool{
    color: black;
    text-align: left;
    font-size: x-large;
    padding:0px 50px 0px 50px ;
}
.stag{
    color: black;
    text-align: left;
    padding:0px 50px 0px 50px ;
}
.cold{
    color: black;
    text-align: left;
    font-size: x-large;
    padding:0px 50px 0px 50px ;
}
.warm{
    color: black;
    text-align: left;
    padding:0px 50px 0px 50px ;
}
.flower{
    color: white;
    font-size: larger;
    padding: 0px 50px 0px 50px;
    text-align: justify;
    font-size: larger;
}
.fruit{
    color: white;
    font-size: larger;
    padding: 0px 50px 0px 50px;
    text-align: justify;
    font-size: larger;
}
.force{
    text-align: left;
}
.intial{
    background-image: url(./images/image2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.present{
    background-image: url(./images/image\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.final{
    background-image: url(./images/image\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sd{
    text-align: left;
}
.df{
    text-align: left;
}
.xl{
    text-align: left;
}
.rm{
    text-align: left;
}
.sr{
    text-align: left;
}
.bs{
    text-align: left;
}










